@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Plus+Jakarta+Sans:wght@300;500;700&display=swap');

:root{

  --accent:#FF8C00;
  --text:#111;
  --muted:#666;
  --white:#fff;
  --bg-alpha:rgba(255,255,255,0.8);

  --transition:all .6s cubic-bezier(.16,1,.3,1);

}


/* navbar */

.navbar{

  position:fixed;
  top:0;
  width:100%;
  height:100px;

  z-index:2000;

  display:flex;
  align-items:center;

  transition:var(--transition);

}


.nav-scrolled{

  height:80px;

  background:var(--bg-alpha);

  backdrop-filter:blur(15px);

  border-bottom:1px solid rgba(0,0,0,.05);

}


.nav-active{

  background:white;

}


/* container */

.nav-container{

  max-width:1400px;
  width:100%;

  margin:auto;

  padding:0 50px;

  display:flex;
  justify-content:space-between;
  align-items:center;

}


/* logo */

.nav-brand{

  display:flex;
  align-items:center;
  gap:15px;

  text-decoration:none;

}


.brand-logo-img{

  height:55px;

}


.brand-text{

  display:flex;
  flex-direction:column;

}


.brand-name{

  font-family:Cinzel;
  font-size:1.8rem;

  letter-spacing:5px;

  color:var(--text);

}


.brand-sub{

  font-family:"Plus Jakarta Sans";

  font-size:.6rem;

  letter-spacing:4px;

  color:var(--accent);

}


/* desktop menu */

.nav-links{

  display:flex;
  gap:45px;

}


.nav-links a{

  text-decoration:none;

  font-family:"Plus Jakarta Sans";

  font-size:.85rem;

  letter-spacing:2px;

  color:var(--muted);

}


.nav-item:hover{

  color:black;

}


.nav-cta{

  border:1.5px solid black;

  padding:12px 30px;

}


/* hamburger */

.menu-toggle{

  display:none;

  width:40px;
  height:30px;

  position:relative;

  background:none;
  border:none;

  cursor:pointer;

  z-index:2500;

}


.menu-toggle span{

  position:absolute;

  height:2px;

  background:black;

  transition:.4s;

}


.line-top{

  top:8px;
  width:30px;

}


.line-bottom{

  top:20px;
  width:20px;

}


.open .line-top{

  transform:rotate(45deg) translateY(6px);

}


.open .line-bottom{

  transform:rotate(-45deg) translateY(-6px);

  width:30px;

}


/* mobile menu */

.mobile-menu{

  position:fixed;

  inset:0;

  height:100dvh;

  background:white;

  z-index:2100;

  display:flex;

  justify-content:center;

  align-items:center;

  flex-direction:column;

  padding:0 40px;


  clip-path:circle(0% at 95% 40px);

  transition:clip-path .8s cubic-bezier(.77,0,.175,1);

  pointer-events:none;

}


.mobile-menu.show{

  clip-path:circle(150% at 95% 40px);

  pointer-events:auto;

}


.mobile-links-wrapper{

  display:flex;

  flex-direction:column;

  gap:30px;

  text-align:center;

}


.mobile-menu a{

  font-family:Cinzel;

  font-size:2rem;

  letter-spacing:5px;

  text-decoration:none;

  color:black;

}


.mob-btn{

  color:var(--accent);

}


/* responsive */

@media(max-width:900px){

  .nav-links{

    display:none;

  }

  .menu-toggle{

    display:block;

  }

  .navbar{

    height:80px;

  }

}